<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>

    <!-- item listing form -->

    <form action="" method="POST">
        <label for="item_name" class="">Item Name</label>
        <input type="text" class="" name="item_name" placeholder="" id="item_name" required>

        <label for="size" class="">Size</label>
        <input type="text" class="" name="size" placeholder="" id="size" required>

        <label for="price" class="">Price</label>
        <input type="text" class="" name="price" placeholder="" id="price" required>

        <label for="description" class="">Description</label>
        <textarea type="text" class="" name="description" placeholder="" id="description" cols="30" rows="10" required></textarea>

        <label for="photo" class="">Photo Link</label>
        <input type="text" class="" name="photo" placeholder="" id="photo" required>
        
        <button class="">Submit</button>
    </form>
    

    <!-- code for cards -->

    {% for post in allpost %}

    {{post.item_name |e}}
    {{post.size |e}}
    {{post.price |e}}
    {{post.description |e}}
    {{post.photo |e}}
    <a href="/delete/{{post._id}}">Delete</a>
    <a href="/edit/{{post._id}}">Edit</a>

    <!-- comments form code -->





  
    <!-- post modal (details) -->
        <!-- modal open btn -->
        <h2 class="modal-btn" id="{{post._id}}">More Info</h2>
        
        <!-- modal container -->
        <div class="modal" id="{{post._id}}">
        <div class="modal-con-outer">
            <div class="modal-con-inner">
                <div class="modal-con-nav">
                    <h2 class="close-btn modal-close-btn">&times;</h2>
                </div>
                <div class="modal-img-con">
                    <img src="{{post.photo |e}}" alt="" class="modal-img">
                </div>
                <div class="modal-subhead-con">
                    <h3 class="modal-subhead">{{post.item_name |e}}</h3>
                    <div class="modal-subhead-details">
                        <h3 class="modal-subhead">{{post.price |e}}</h3>
                        <h3 class="modal-subhead">{{post.size |e}}</h3>
                    </div>
                    <div class="modal-details-con">
                        <h3 class="modal-subhead">More Details</h3>
                        <p class="modal-bodycopy">{{post.description |e}}</p>
                    </div>
                    <div class="modal-comment-con">
                        <h3 class="modal-subhead">Enter a Comment!</h3>
                        <form action="/comment/{{post._id}}" method="post">
                            <textarea class='' name="comment" placeholder="Comment"></textarea>
                            <button type="submit" class="">Submit</button>
                          </form>
                        <div class="modal-comment">
                            <ul class="modal-list">
                                <li class="modal-list-item">{{post.comment[0] |e}}</li>
                                <li class="modal-list-item">{{post.comment[1] |e}}</li>
                                <li class="modal-list-item">{{post.comment[2] |e}}</li>
                                <li class="modal-list-item">{{post.comment[3] |e}}</li>
                                <li class="modal-list-item">{{post.comment[4] |e}}</li>

                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        </div>

    {% endfor %}

    <script src="../script.js"></script>
 
</body>
</html>
