<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/6ce325eae0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/6ce325eae0.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <title>Home</title>
</head>
<body>

    <!-- //NAV// -->
    <div class="nav">
        <div class="col col-lg-8 col-md-6 col-sm-6">
            <a href="/"><img class="logo pr-5" src="../logo.png" alt=""></a>
        </div>
      
        <div class="nav-list col col-lg-4 py-5">
            <li class="px-4">
                <a href="/">HOME</a>
            </li>
            {% if user %}
            <li class="px-4">
                <a href="profile">PROFILE</a>
            </li>
            <li class="px-4">
                <a href="/dashboard">DASHBOARD</a>
            </li>
            <li class="px-4">
                <a href="/logout">LOGOUT</a>
            </li>
            {% else %}
            <li class="px-4 login-btn">LOGIN</li>
            <li class="px-4 register-btn">SIGNUP</li>
            {% endif %}
        </div>
  

        <div class="menu-container w-50 px-3 pt-3 ">
            <!-- <img class="menu float-end" src="images/bars-solid.svg" alt=""> -->
            <button class="menu float-end" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
                <svg width="80" height="100" viewBox="0 0 100 100">
                  <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                  <path class="line line2" d="M 20,50 H 80" />
                  <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                </svg>
            </button>
        </div>
    </div> 

    
    <!-- NAV ENDS -->

    <!-- //second nav// -->
    <div class="second-nav py-5">
        <img class="logo-img" src="../app-logo-big.png" alt="">
        <ul class="sec-nav-ul text-center">
            <li>
                <a class="" href="/">HOME</a>
            </li>
            {% if user %}

            <li class="px-4">
                <a class="" href="profile">PROFILE</a>
            </li>
            <li class="px-4">
                <a href="/dashboard">DASHBOARD</a>
            </li>
            <li class="px-4">
                <a href="/logout">LOGOUT</a>
            </li>

            {% else %}

            <li class="px-4 login-btn">LOGIN</li>
            <li class="px-4 register-btn">SIGNUP</li>

            {% endif %}
        </ul>
    </div>
    <!-- //second nav ends// -->

    <!-- list item BTN -->

    <div class="list-btn">
        <div class="list-btn-inner">
            <h1 class="list-btn-icon">+</h1>
        </div>
    </div>

    <!-- list item modal  -->

    <div class="listModal">
        <div class="modal-con-outer p-3">
            <div class="modal-con-inner col-12 col-sm-12 col-md-8 col-lg-4">
                <div class="modal-con-nav text-right col-12 pr-5">
                    <h2 class="close-btn modal-close-btn">&times;</h2>
                </div>
                <div class="modal-subhead-con p-4 col-12">
                    <div class="col-lg-12 login-title">
                        LIST AN ITEM
                    </div>
                <form action="" method="POST">
                    <div class="form-group">
                        <label class="form-control-label">ITEM NAME</label>
                        <input type="text" name="item_name" class="form-control bg-transparent">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">SIZE</label>
                        <input type="text" name="size" class="form-control bg-transparent">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">PRICE</label>
                        <input type="text" name="price" class="form-control bg-transparent">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">DESCRIPTION</label>
                        <input type="text" name="description" class="form-control bg-transparent">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">IMAGE LINK</label>
                        <input type="text" name="photo" class="form-control bg-transparent">
                    </div>
                    <button class="btn-form btn-sm border-0 px-4 rounded-pill my-2 px-2 py-1">Submit</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>

    <!-- POST SECTION -->
    <section class="m-5 fade-in" id="latest-posts">
        <h1 class="text-center pt-5">LATEST POSTS</h1>
        <h2 class="text-center pb-5">Welcome {{ user.username |e}}</h2>

    

        <div class="row clearfix">
            {% for post in allpost %}
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mx-auto mt-5 card-con modal-btn fade-in">
            <div class="card bg-transparent border-0 m-3">
            <img class="card-img-top card-img" src="{{post.photo |e}}" alt="posts">
                <div class="card-body bg-transparent">
                    <h2 class="card-text text-center post-subhead post-info">{{post.item_name |e}}</h2>
                    <h2 class="card-text text-center post-info">${{post.price |e}} | {{post.size |e}}</h2>
                    <div class="row justify-content-center">
                        <h2 class="card-text card-footer-links text-center post-info pb-3"><a href="/delete/{{post._id}}">Delete</a> | <a href="/edit/{{post._id}}">Edit</a></h2>
                    </div>
                    <div class="row justify-content-center">
                        <button class=" col-md-8 col-lg-4 btn-form modal-btn border-0 px-4 rounded-pill p-2 mt-1" id="{{post._id}}">More details</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal container -->
        <div class="modal" id="{{post._id}}">
        <div class="modal-con-outer">
            <div class="modal-con-inner col-sm-12 col-md-8 col-lg-3 mx-auto">
                <div class="modal-con-nav text-right col-12 pr-5">
                    <h2 class="close-btn modal-close-btn">&times;</h2>
                </div>
                <div class="modal-img-con col-12">
                    <img src="{{post.photo |e}}" alt="" class="modal-img col-12">
                </div>
                <div class="modal-subhead-con p-4 col-12">
                    <h2 class="card-text post-subhead m-0 text-center col-12">{{post.item_name |e}}</h2>
                    <div class="modal-subhead-details py-3 col-12">
                        <h2 class="card-text text-center col-12">${{post.price |e}} | {{post.size |e}}</h2>
                    </div>
                    <div class="modal-details-con">
                        <p class="modal-bodycopy col-12">{{post.description |e}}</p>
                    </div>
                    <div class="modal-comment-con py-3">
                        <form action="/comment/{{post._id}}" method="post">
                            <textarea name="comment" class="comment-section p-3 modal-bodycopy col-12" placeholder="Leave a comment!"></textarea>
                            <button type="submit" class="btn-form btn-sm border-0 px-4 rounded-pill my-2 px-2 py-1">Submit</button>
                        </form>
                        <div class="modal-comment py-3">
                            <ul class="modal-list">
                                <li class="modal-list-item modal-bodycopy py-1">{{post.comment[0] |e}}</li>
                                <li class="modal-list-item modal-bodycopy py-1">{{post.comment[1] |e}}</li>
                                <li class="modal-list-item modal-bodycopy py-1">{{post.comment[2] |e}}</li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        </div>
        {% endfor %}
    
    
    </div>
    
    </section>

    <!-- FOOTER// -->
    <div class="mt-5 footer" id="lab_social_icon_footer">
        <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
        <div class="container">
            <div class="pt-5 text-center center-block">
                    <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                    <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                    <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            </div>
        </div>
    </div>
    <!-- FOOTER ENDS -->
    <script src="../script.js"></script>
</html>