<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="" method="POST">
        <label for="item_name" class="">Item Name</label>
        <input type="text" class="" name="item_name" placeholder="" id="item_name" required>

        <label for="size" class="">Size</label>
        <input type="text" class="" name="size" placeholder="" id="size" required>

        <label for="price" class="">Price</label>
        <input type="text" class="" name="price" placeholder="" id="price" required>

        <label for="description" class="">Description</label>
        <textarea type="text" class="" name="description" placeholder="" id="description" cols="30" rows="10" required></textarea>

        <label for="photo" class="">Photo Link</label>
        <input type="text" class="" name="photo" placeholder="" id="photo" required>
        
        <button class="">Submit</button>
    </form>
    
</body>
</html>