<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- login section -->
    <form action="/login" method="POST">
        <label class="" for="username">Username</label>
        <input class="" type="text" placeholder="" name="username">

        <label class="" for="password">Password</label>
        <input class="" type="password" id="password" placeholder="***********" name="password">
        
        <button class="">Login</button>
    </form> 

    <!-- register section -->
    <form action="/" method="POST">
        <label class="" for="username">Username</label>
        <input class="" type="text" id="username" placeholder="" name="username"> 

        <label class="" for="email">Email</label>
        <input class="" type="text" id="email" placeholder="" name="email"> 
        
        <label class="" for="password">Password</label>
        <input class="" type="password" id="password" placeholder="**********" name="password">

        <button class="">Sign-up</button>

    </form>
    
    <!-- logout btn -->
    <a href="/logout">Log Out</a>
</body>
</html>